body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.navbar {
  background-color: #333333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #c3ecfa;
}

.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu ul li {
  margin-right: 1rem;
}

.form-container {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(21, 22, 23, 0.918);
}

.form-container h1 {
  margin-bottom: 1rem;
}

.form-container form div {
  margin-bottom: 1rem;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  padding: 0.5rem 1rem;
  background-color: #09a6df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0f1018;
}

.error {
  color: red;
  font-size: 0.875rem;
}
